div.slot {
    background-color: rgb(84, 123, 231);
    position: absolute;
    top: 0;
    height: 100%;
    border: 1px solid rgb(75, 75, 75);
}

.tooltip div.customer-name {
    position: absolute;
    width: 100%;
    height: 20px;
    top: 2px;
    left: 3px;
    overflow: hidden;
}

.tooltip div.customer-name p {
    cursor: default;
    font-size: 0.85rem;
    width: 90%;
    height: 80%;
    text-align: left;
    margin: 0;
    overflow: hidden;
}

.tooltip div.tooltip-div {
    display: none;
    border: 1px solid #000;
    background-color: #fff;
    padding: 10px;
    z-index: 1;
}

.tooltip:hover div.tooltip-div {
    display: block;
    position: fixed;
    overflow: hidden;
}

div.tooltip-div p {
    margin: 0;
    text-align: left;
}