.optionbar {
  &__top {
    display: flex;
    justify-content: space-between;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
  }
  &__content-container {
    display: flex;
    align-items: center;
  }
  &__btn {
    display: flex;
    align-items: center;
    padding: 1px 3px;
  }
  &__arrow {
    width: 15px;
  }
  &__extra-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__clear-all {
    cursor: pointer;
  }
}
