p.error-booking {
    background-color: rgb(214, 105, 105);
    margin: 0;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin-top: -5px;
    margin-bottom: 15px;
    width: 100%;
    padding-left: 10px;
}