.schedule {
  width: 900px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  // border-spacing: 0;
  border-collapse: collapse;
  &__row {
    display: grid;
    grid-template-columns: 150px repeat(15, 50px);
  }
  &__time-heading {
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: rgb(151, 212, 212);
    text-align: left;
  }
  &__placeholder {
    border: 1px solid rgba(0, 0, 0, 0.5);
    position: relative;
  }
  &__plane-slot {
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: white;
    cursor: pointer;
  }
}