.schedule {
  width: 100%;
  display: grid;
  &__time-heading {
    width: 100%;
    display: grid;
    grid-template-columns: 160px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    background-color: rgb(151, 212, 212);
  }
  &__time-slot {
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  &__placeholder {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-left: 0;
  }
  &__plane-time-slot {
    @extend .schedule__time-heading;
    background-color: white;
  }
  &__plane-slot {
    @extend .schedule__time-slot;
    background-color: white;
  }
}
