.userpage {
  display: flex;
  height: 100vh;
  &__content {
    width: 100%;
    margin: 0 1.5rem;
  }
  &__content--close {
    width: 100%;
  }
  &__sidebar--close {
    display: none;
    transition: 0.5s;
  }
  &__sidebar--open {
    width: 10%;
  }
}

div.userpage {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
